<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            <img class="logo2" src="{{ asset('build/images/parallax.png') }}" alt="Logo PARALLAX" />
            <p class="citation">"Toute technologie avancée est magique." <span class="auteur">Arthur C. Clarke</span></p>
            <P class="droit-auteur">© Copyright 2021 - PARALLAX - Tout droits réservé.</P>
        </div>

        <div class="col-12 col-md-4"><span class="contact">CONTACT</span>
            <a href="mariobourgeois97.200@gmail.com">
                <p>mariobourgeois97.200@gmail.com</p>
            </a>
            <a href="https://www.instagram.com/project_parallax/">
                <img class="image-footer" src="{{ asset('build/images/logo-instagram.png') }}"
                    alt="Logo Instagram"/>
                </a>
        </div>
    </div>
</footer>