{# NAVBAR AUTOMOBILE #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="nav-automobile">
                <a class="categorie-automobile" href="#toutes-marques">TOUTES MARQUES</a>
                <a class=" categorie-automobile" href="#espace-mercedes">ESPACE MERCEDES</a>
            </nav>
        </div>
    </div>
</div>
</nav>