{% extends 'base.html.twig' %}

{% block title %} ADMINISTRATION - LISTES DE CATÉGORIES {% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="admin">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
            {% for article in articles %}

            <li class="color"><a href="{{ path('admin_categorie_edit', {'id' : article.id }) }}">
                    {{ article.titre}} </a></li>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}