/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #9c968b;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 5px;
}

h2 {
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #292929;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

h3 {
  padding-top: 10px;
  padding-top: 3px;
  padding: 5px;
  padding-bottom: 3px;
  background-color: #292929;
  color: white;
}

p {
  font-size: 0.8em;
}

li {
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #2962ff;
}

hr {
  color: #000000;
}

.align-items-center {
  padding: 15px;
}

/* FIN GLOBAL */

/* NAVBAR */

.logo {
  height: 60px;
  padding-left: 10px;
  margin-left: 20px;
}

.nav-link {
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* FIN NAVBAR */

/* FOOTER */

footer {
  background-color: #f8f9fa !important;
  position: relative;
  padding-bottom: 5px;
}

.logo2 {
  height: 35px;
  margin-top: 10px;
}

.image-footer {
  height: 50px;
}

.citation {
  font-weight: bolder;
  font-size: 20px;
}
.auteur {
  font-style: italic;
  font-size: 12px;
}

.droit-auteur {
  font-size: 15px;
  font-style: italic;
}

.contact {
  font-size: 20px;
}

/* FIN FOOTER */

/* PAGE ACTUALITE */

.a_la_une {
  background-color: rgba(255, 255, 255, 0.3);
}

.date {
  float: right;
  font-size: 0.7em;
}

.categorie {
  float: right;
  margin-right: 10px;
}

.credit {
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.3);
}

.horloge {
  height: 22px;
}

/* FIN PAGE ACTUALITE */

/* PAGE WEB */

.web-titre {
  margin-top: 10px;
  padding-top: 10px;
  padding-top: 3px;
  padding: 5px;
  padding-bottom: 3px;
  background-color: #003eff;
  color: white;
}

/* FIN PAGE WEB */

/* PAGE AUTOMOBILE */

.automobile {
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #9c0505;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.automobile-titre {
  padding-top: 10px;
  padding-top: 3px;
  padding: 5px;
  padding-bottom: 3px;
  background-color: #9c0505;
  color: white;
}

.article {
  font-size: 1em;
}

.nav-automobile {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
}

.categorie-automobile {
  background-color: #9c0505;
  color: white;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.categorie-automobile:hover {
  color: #000000;
}
/* FIN PAGE AUTOMOBILE */

/* PAGE ESPACE */

.espace-titre {
  margin-top: 10px;
  padding-top: 10px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #000080;
  color: white;
}

/* FIN PAGE ESPACE */

/* PAGE SCIENCE */

.science-titre {
  margin-top: 10px;
  padding-top: 10px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #08b138;
  color: white;
}

/* FIN PAGE SCIENCE */

/* PAGE TECHNOLOGIE */

.technologie-titre {
  margin-top: 10px;
  padding-top: 10px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #e6770f;
  color: white;
}

/* FIN PAGE TECHNOLOGIE */

/* PAGE À PROPOS */

.apropos-titre {
  margin-top: 10px;
  padding-top: 10px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #292929;
  color: white;
}

.article-apropos {
  font-size: 1em;
  margin-top: 20px;
}

/* FIN PAGE À PROPOS */

/* PARTIE ADMINISTRATEUR */

.admin {
  margin-bottom: 20px;
}

.admin-icon {
  width: 100px;
  height: 150px;

  margin: 10px;

  background-color:rgba(#0143da, 0.5);

  border-style: solid;
  border-color:  #f8f9fa;
  border-radius: 10px;

  display: inline-table;
}

.admin-icon > svg {
  width: 100%;
  height: 100%;
}

.admin-icon-text-articles-categories {
  background-color: rgba(#0143da, 0.5);
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  margin: 20px;
  border-style: solid;
  border-color:  #f8f9fa;
  
  display: block;
}


.admin-icon-text {
  background-color: rgba(#0143da, 0.5);
  color: white;
  padding: 10px;
  font-size: 10px;
  margin: 10px;
  border-style: solid;
  border-top: medium;
  border-color:  #f8f9fa;
  border-radius: 10px;
}





.form-check .form-check-input {
  float: none;
  margin-left: -1.5em;
}


