{% extends 'base.html.twig' %}

{% block title %} TECHNOLOGIE {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            {# TECHNOLOGIE #}
            <h3 class="technologie-titre">UN HOMME RECOUVRE LA VUE GRACE À UNE CORNÉE ARTIFICIELLE</h3>
            <div class="row align-items-center">

                <div class="col-12 col-md-4 offset-md-4 "> <img src="{{ asset('build/images/cornee-artificiel.jpg') }}"
                        alt="Cornée Artificiel" />
                        <span class="credit">Crédit: futura-sciences.com</span>
                    </div>


                <div class="col-12">

                    <p class="article"> Dans une opération qui pourrait donner de l'espoir à de nombreuses personnes
                        malvoyantes, un homme de 78 ans a retrouvé la vue suite à l'implantation d'une cornée
                        artificielle. Baptisée KPro, elle est l'œuvre de la firme israélienne CorNeat Vision et inventée
                        par le Dr Gilad Litvin. Elle est rapide à poser, et ne nécessite aucun tissu de donneur. Le
                        patient a immédiatement retrouvé la vue dès que les bandages ont été retirés, et a pu
                        reconnaître ses proches et lire des chiffres sur un tableau.
                    </p>
                </div>
            </div>

            <div class="date"> Publié le 28/06/2021 à 19h00</div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}