{% extends 'base.html.twig' %}

{% block title %} SCIENCE {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            {# SCIENCE #}
            <h3 class="science-titre">CERTAINS DES DINOSAURES AURAIENT VÉCU DURABLEMENT EN ARCTIQUE</h3>
            <div class="row align-items-center">

                <div class="col-12 col-md-4 offset-md-4 "> <img src="{{ asset('build/images/dinosaure.jpg') }}"
                        alt="Dinosaure" />
                        <span class="credit">Crédit: Belgalmage</span>
                    </div>

                <div class="col-12">

                    <p class="article"> L’information est surprenante mais les dernières recherches et études menées en
                        Arctique semblent montrer que des dinosaures vivaient il y a quelques milliers d’années dans ces
                        contrées glacées. Ces animaux gigantesques auraient développé toutes sortes de techniques comme
                        l’hibernation et des plumes pour faire face au froid, selon une nouvelle étude publiée la
                        semaine passée dans la revue Current Biology.
                    </p>
                </div>
            </div>

            <div class="date"> Publié le 28/06/2021 à 19h00</div>
            <hr>
        </div>
        {% endblock %}